* {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: darkgray;
    color: white;
}

p {
    background-color: lightblue;
    color: black;
    font-size: 2em;
}