* {
    text-align: center;
    color: white;
}

header div {
    height: 75px;
}

h1, h2, h3 {
    color: black;
}

h1 {
    margin: 0;
    padding: 0;
}

nav {
    height: auto;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

ul {
    padding: 0px;
    margin: 0;
}

li {
    padding: 10px;
    margin: 0;
    font-size: 2em;
}

body {
    background-color: #e0e2db;
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

header {
    grid-area: header;
    background-color: #13295c;
}

header div {
    text-align: left;
}

header div h1 {
    text-align: left;
}

#reddit {
    width: 100%;
    height: auto;
}

#gamingIcon {
    max-width: 50px;
    max-height: 50px;
    padding: 0;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
    background-color: #2e3532;    
    color: white;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}


p {
    font-size: 20px;
}

footer p {
    text-align: right;
}

div img {
    width: 300px;
    height: 200px;
}

h3 {
    text-align: left;
    margin-left: 10px;
}

.GreyBoxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.GreyBoxes div {
    background-color: #d2d4c8;
    width: 300px;
    height: 500px;
}

.RedBoxes {    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.RedBoxes div {
    background-color: #bc0c06;
    width: 600px;
    height: 500px;
}

@media only screen and (min-width: 650px) {
    body {
        background-color: #e0e2db;
        display: grid;
        grid-template-areas: 
            "header header" 
            "main main" 
            "footer footer";
    }
}