body {
    font-size:100%;
    font-family:Georgia, "Times New Roman", Times, serif;
}

h1{
    background-color:gray;
    color:white;
    text-align:center;
    padding:0 0 5px 0;
    font-variant: small-caps;
    font-size: 3em;
    font-family: Arial,Helvetica;
    margin:0;
}

form {
    width:459px;
    margin:0 auto;
}

label {
    display:block;
    margin-top:20px;
    letter-spacing:2px;
}

input.radio {
    width: auto;
    height: auto;
}

.radio {
    display: inline;
}

input, textarea {
    width:439px;
    height:27px;
    background:#efefef;
    border-radius:5px;
    border:1px solid #dedede;
    padding:10px;
    margin-top:3px;
    font-size:0.9em;
    color:#3a3a3a;
}

textarea {
    height:213px;
    font-family:Arial, Helvetica, sans-serif;
}

#submit {
    width:127px;
    height:38px;
    border:none;
    margin-top:20px;
    cursor:pointer;
    border: 1px solid gray;
    background-color:gray;
    color:white;
}