* {
    font-family: "Times New Roman", serif;
    background-color: lightgray;
    text-align: center;
    font-size: 20px;
    width: 500px;
}

/*Navigation stylings*/
nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#currentPage {
    background-color: lawngreen;
}

/*Navigation Link modifiers*/

li:hover {
    background-color: darkgray;
}


