body {
    background-color: lightgray;
}

header, main {
    font-family: "Times New Roman", serif;
    background-color: lightgray;
    font-size: 20px;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

img {
    width: auto;
    max-width: 100%;
}

/*Navigation stylings*/
nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: -40px;
    flex-wrap: wrap;
}

#currentPage {
    background-color: lawngreen;
}

li {
    border-color: black;
    border-style: solid;
}

/*Navigation Link modifiers*/

li a:hover {
    background-color: darkgray;
}


/*Footer stylings*/
.credits {
    background-color: gray;
    font-family: "Times New Roman", serif;
    font-size: 20px;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.credits p {
    text-align: left;
}

.credits p.copyright {
    text-align: right;
}